.m-carousel {
  color: #fff;
  position: relative;
}

.m-carousel__item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-carousel__active:checked + .m-carousel__item {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.m-carousel__controls {
  position: absolute;
  right: 0;
  top: -79px;
  padding-right: 2px;
  font-size: 0;
  text-align: right;
}

.m-carousel__control {
  display: inline-block;
  width: 40px;
  height: 37px;
  padding-top: 2px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px #7f8c8c;
  background-color: #98a3a3;
}

.m-carousel__control:hover {
  box-shadow: 0 3px #e2534b;
  background-color: #e2534b;
}

.m-carousel__control.prev {
  margin-right: 19px;
}

.m-carousel__control.next {
  padding-left: 3px;
}