html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  min-width: 1180px;
  min-height: 100%;
  overflow: hidden;
}

.wrapper::after {
  content: "";
  display: block;
  height: 350px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.container {
  width: 1170px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}