.main-nav__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav__link {
  display: block;
  padding: 7px 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid transparent;
}

.main-nav__link-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  font-size: 14px;
  line-height: 1;
}

.main-nav__link-text {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__link_active {
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border-bottom: 3px solid #528b86;
  background-color: #62a29e;
}

.main-nav__link:hover {
  border-radius: 5px;
  border-bottom: 3px solid #e2534b;
  background-color: #e8645a;
}


.main-nav__link_active:hover {
  border-bottom: 3px solid #528b86;
  background-color: #62a29e;
}

.main-nav__sub-list {
  position: absolute;
  top: 46px;
  display: none;
  width: 200px;
  margin: 0;
  padding: 5px;
  list-style: none;
  border-radius: 5px;
  background-color: #e2534b;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-nav__sub-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 100%;
  height: 14px;
  background: transparent;
}

.main-nav__sub-list::after {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 100%;
  border: 6px solid transparent;
  border-bottom-color: #e2534b;
}

.main-nav__sub-item {
  margin-bottom: 5px;
  text-transform: none;
}

.main-nav__sub-item:last-child {
  margin-bottom: 0;
}

.main-nav__sub-link {
  display: block;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  background-color: #e5655d;
}

.main-nav__sub-link-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  font-size: 14px;
}

.main-nav__sub-link-text {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__sub-link:hover {
  background-color: #76c7c0;
}

.main-nav__item:hover .main-nav__sub-list {
  display: block;
}

