.page-header {
  padding: 23px 0 22px;
  background: #76c7c0 url(../img/header_bg.svg) center bottom repeat-x;
}

.page-header__logo {
  float: left;
  width: 18%;
  margin-right: 16%;
  padding-left: 8px;
}

.page-header__menu {
  float: left;
  width: 61%;
  padding-top: 2px;
}

.page-header__search {
  float: left;
  width: 5%;
  padding: 2px 0 0 23px;
}