.page-header {
  padding-top: 23px;
  background-color: #76c7c0;
}

.page-header__logo {
  float: left;
  min-width: 200px;
  margin-right: 192px;
  padding-left: 8px;
}

.page-header__menu {
  float: left;
  min-width: 700px;
  padding-top: 2px;
}