.portfolio {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 46px;
}

.portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 3px;
  margin-left: 30px;
  background-color: #e5e6e6;
}

.portfolio__item,
.portfolio__item_wide {
  position: relative;
  flex: 0 0 270px;
  height: 273px;
  margin-left: 30px;
  margin-bottom: 41px;
  border-radius: 5px;
  border-bottom: 3px solid #e5e6e6;
  background-color: #f8f8f8;
}

.portfolio__item_wide {
  flex: 0 0 570px;
}

.portfolio__item::before,
.portfolio__item_wide::before {
  content: "\f03e";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: FontAwesome;
  font-size: 100px;
  line-height: 270px;
  text-align: center;
  color: #ececec;
}

.portfolio__img {
  position: relative;
  z-index: 10;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  border-radius: 5px;
  text-align: center;
  overflow: auto;
  background-color:  rgba(118, 199, 192, 0.9);
}

.overlay_wide {
  padding-top: 18.3%;
}

.portfolio__item:hover .overlay {
  display: block;
  z-index: 20;
}

.overlay__actions {
  margin-bottom: 54px;
}

.overlay__link {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 41px;
  margin-left: 6px;
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 41px;
  color:  #ffffff;
  border-radius: 5px;
  text-decoration: none;
}

.overlay__link_more {
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay__link_copy {
  background-color: rgb(226, 83, 75);
}

.overlay__descr {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 600;
  color: #fff;
}