.s-tabs {
  width: 100%;
  font-size: 0;
}

.s-tabs__open {
  display: none;
}

.s-tabs__control {
  display: inline-block;
  vertical-align: bottom;
  width: 48%;
  margin-right: 4%;
  padding: 15px 25px;
  background-color: #62b9b0;
  border-radius:5px 5px 0 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor:pointer;
}

.s-tabs__control:hover {
  background-color: #e2534b;
}

.s-tabs__control:last-of-type {
  margin-right: 0;
}

.s-tabs__open:checked + .s-tabs__control {
  color: #7f8c8c;
  background-color: #f8f8f8;
  cursor: default;
}

.s-tabs__content {
  font-size: 13px;
  line-height: 1.6;
  color: #777777;
  background-color: #f8f8f8;
  border-radius: 0 5px 5px 5px;
  border-bottom: 4px solid #e5e6e6;
}

.s-tabs__item {
  display: none;
  width: 100%;
  min-height: 171px;
  padding: 30px;
  padding-left: 20px;
}

.s-tabs__item p {
  margin-top: 0;
}

.s-tabs__item p:last-child {
  margin-bottom: 0;
}

#s-tab-1:checked ~ .s-tabs__content .s-tabs__tab_one,
#s-tab-2:checked ~ .s-tabs__content .s-tabs__tab_two {
  display: block;
}
